{{ with $.Site.Data.index.codeofconduct }}
{{ "<!-- CODE OF CONDUCT -->" | safeHTML }}
<section id="codeofconduct">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Code of Conduct</h2>
                <hr class="primary">
                <div class="text-center">
                    {{ .content | markdownify }}
                </div>
            </div>
        </div>
    </div>
</section>
{{ end }}