{{ with $.Site.Data.footer }}
{{ "<!-- FOOTER -->" | safeHTML }}
<footer class="gopher-footer">
  <section class="bg-primary" id="credits">
      <div class="container">
          <div class="row">
              <div class="col-md-6 text-left">
                  {{ with .twitterURL }}
                  <a class="social-links" href="{{ . }}" target="_blank">
                    <p class="text-faded">
                      <i class="fa fa-twitter fa-lg" aria-hidden="true"></i>
                    </p>
                  </a>
                  {{ end }}
                  {{ with .facebookURL }}
                  <a class="social-links" href="{{ . }}" target="_blank">
                    <p class="text-faded">
                      <i class="fa fa-facebook fa-lg" aria-hidden="true"></i>
                    </p>
                  </a>
                  {{ end }}
                  {{ with .email }}
                    <a href="mailto:{{ . }}">
                        <p class="text-faded">{{ . | markdownify }}</p>
                    </a>
                  {{ end }}
                  {{ with .copyright }}
                      <div class="credit-text medium-text">{{ . | markdownify }}</div>
                  {{ end }}
                  {{ with .copyright2 }}
                  <div class="credit-text small-text">{{ . | safeHTML }}</div>
                  {{ end }}
              </div>
          </div>
      </div>
  </section>
</footer>
{{ end }}